.navbar{
    background-color: rgb(6, 182, 212);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.navlogo{
    /* color:rgb(255, 255, 255); */
    /* width: 20%; */
    /* height: 2vh; */
    margin-left: 0px;
    cursor: pointer;
    /* font-size: 2rem; */ 
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 1.2rem;
    justify-content: center;
    /* margin-right: 9.3rem; */
    list-style: none;
    text-align: center;
    width: 80vw;
    /* padding: 1rem 0rem 1rem 5rem ; */
}

.nav-links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 2rem;
}

.nav-links:hover{
    color: hsl(0, 0%, 0%);
    border-bottom: 2px solid rgb(0, 0, 0) ;
    transition: all .2s linear;
}

.menu-icon{
    display: none;
}

@media only screen and (max-width : 960px) {
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.9rem;
        color: rgb(255, 255, 255);
        transform: translate(-100%, 50%);
        cursor: pointer;
    }
    .nav-menu{
        display: flex ;
        justify-content: start;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: -100%;
        transition:all .4s linear ;
        overflow: auto;
    }
    .nav-menu.active{
        /* margin-bottom: 1px; */
        background-color: black;
        left: 0;
        transition: all .5s linear;
        z-index: 1;
        

    }
    .nav-links{
        /* margin-bottom: 100px; */
        
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        color: aqua;
        border-bottom: 2px solid aqua;

    }
    
}           